<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%=recipe.name %>

    </title>
</head>

<body>
    <div class="nav-bar">
        <%- include('../partials/_navbar.ejs') %>
            <a class="nav-link" href="/">Back Home
            </a>
            <a class="nav-link" href="/recipes">View Recipes</a>
    </div>
    <h1>
        Recipe for <%=recipe.name%>
    </h1>


    <div class="recipe-form">
        <% if (recipe.instructions) { %>
            <p class="recipe-attribute">Instructions: <%=recipe.instructions%>
            </p>
            <% } else { %>
                <p class="recipe-attribute">Instructions have not been included in this recipe.</p>
                <%}%>
                    <% if (recipe.ingredients) { %>
                        <p class="recipe-attribute">Ingredients: <%=recipe.ingredients.map((ingredient)=> {
                                return ingredient.name
                                }).join(", ")%>

                        </p>
                        <% } else { %>
                            <p>Ingredients have not been added to this recipe.</p>
                            <% } %>

                                <div class="action-container">
                                    <form class="delete-form" action="/recipes/<%=recipe._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="recipe-action" type="submit">Delete </button>
                                    </form>
                                    <form class="edit-form" action="/recipes/<%= recipe._id %>/edit">
                                        <button class="recipe-action">Edit
                                    </form>
                                </div>
    </div>

</body>